






{
  "categories": [
    {
      "name": "PRODUITS FRAIS",
      "subcategories": [
        {
          "name": "FRUITS ET LÉGUMES",
          "image_url": "https://kinmarche.com/uploads/subcategory/ed181ba6697bc559e2b03196b5affa99.png"
        },
        {
          "name": "BOUCHERIE",
          "image_url": "https://kinmarche.com/uploads/subcategory/ae801e1ff935b1e10eec7cebff5a722e.png"
        },
        {
          "name": "CHARCUTERIE",
          "image_url": "https://kinmarche.com/uploads/subcategory/243dff0155d20b0a53a89ffe81f95107.jpg"
        },
        {
          "name": "REPAS CHAUDS",
          "image_url": "https://kinmarche.com/uploads/subcategory/a92beadc9140c86b3a27d44e0a4b812e.png"
        },
        {
          "name": "BOULANGERIE",
          "image_url": "https://kinmarche.com/uploads/subcategory/89c4fa41974bb067711e215d6c173953.png"
        },
        {
          "name": "PÂTISSERIE",
          "image_url": "https://kinmarche.com/uploads/subcategory/422bfcb9e6363bae4223d7b13b5592d9.jpg"
        }
      ]
    },
    {
      "name": "Épicerie",
      "subcategories": [
        {
          "name": "PRODUITS LAITIERS",
          "image_url": "https://kinmarche.com/uploads/subcategory/41cdcba7c39aed74412813906f38ce0d.png"
        },
        {
          "name": "SURGÉLÉS",
          "image_url": "https://kinmarche.com/uploads/subcategory/5eabd4a2b67ad1f86968bbe3e66e9796.jpg"
        },
        {
          "name": "PETIT-DÉJEUNER",
          "image_url": "https://kinmarche.com/uploads/subcategory/f1ba86c94fe22ea980351b769a7f97ce.jpg"
        },
        {
          "name": "CONDIMENTS - ASSAISONNEMENTS",
          "image_url": "https://kinmarche.com/uploads/subcategory/883bd29a0957e576da81af1edea11e41.jpg"
        },
        {
          "name": "CONSERVES",
          "image_url": "https://kinmarche.com/uploads/subcategory/cdabd0ad9484df7197ea3d7c6e2912c4.jpg"
        },
        {
          "name": "SNACKS & FRIANDISES",
          "image_url": "https://kinmarche.com/uploads/subcategory/1f3a5e29f4d8cfe03c789c896897a3f0.jpg"
        }
      ]
    },
    {
      "name": "BOISSONS",
      "subcategories": [
        {
          "name": "EAU - JUS - SODA",
          "image_url": "https://kinmarche.com/uploads/subcategory/9fa0af74cdbde378c5b296dbfbef7ba6.jpg"
        },
        {
          "name": "VINS",
          "image_url": "https://kinmarche.com/uploads/subcategory/895c828dda982fe55aa75b5c1c43d68d.jpg"
        },
        {
          "name": "ALCOOLS",
          "image_url": "https://kinmarche.com/uploads/subcategory/ffd0716342b2c757d05ee7ffeeaa222e.jpg"
        }
      ]
    },
    {
      "name": "SANTÉ & BEAUTÉ",
      "subcategories": [
        {
          "name": "FEMMES",
          "image_url": "https://kinmarche.com/uploads/subcategory/9c9c898ced161e6d382ab963b830bfbf.jpg"
        },
        {
          "name": "BÉBÉ",
          "image_url": "https://kinmarche.com/uploads/subcategory/4b8609615905450fe0783b726e9d494b.jpg"
        },
        {
          "name": "HOMMES",
          "image_url": "https://kinmarche.com/uploads/subcategory/c781fee93dc95d21c3e3c55382316ae4.png"
        },
        {
          "name": "PARFUMS",
          "image_url": "https://kinmarche.com/uploads/subcategory/078d7b2ccbd88c91e6c3fcf6b280b6fb.jpg"
        }
      ]
    },
    {
      "name": "NON-ALIMENTAIRE",
      "subcategories": [
        {
          "name": "PRODUITS D'ENTRETIEN",
          "image_url": "https://kinmarche.com/uploads/subcategory/9612a7c929b90a653ce448cc16b65380.jpg"
        },
        {
          "name": "ÉLECTRONIQUE",
          "image_url": "https://kinmarche.com/uploads/subcategory/86c04c3492eaf890c68258ffb1a50290.png"
        },
        {
          "name": "ANIMALERIE",
          "image_url": "https://kinmarche.com/uploads/subcategory/96bab8d8b458467b32a88ea946106a78.png"
        },
        {
          "name": "USTENSILES",
          "image_url": "https://kinmarche.com/uploads/subcategory/bb1d7c6c8ffea015b327c6e466aa3b3e.jpg"
        },
        {
          "name": "PAPETERIE & JOUETS",
          "image_url": "https://kinmarche.com/uploads/subcategory/6dbb5faca52a9f2e7306fe4f2a10bd9d.png"
        },
        {
          "name": "DIY",
          "image_url": "https://kinmarche.com/uploads/subcategory/2b850f9a4b439fbe97331967a506f1e7.jpg"
        }
      ]
    }
  ]
}